@charset "utf-8";
/* CSS Document */
.aboutcon{background:url(../../images/aboutphoto.jpg) no-repeat bottom right; color:#696969;
    height:550px;}
.n1 { background: #5EA51B; }
.n2{ background: #8BBF5D; }
.about{ width:740px;overflow: hidden; background: url(../../images/r_line.jpg) repeat-y right; line-height:22px; }
.about h2{ font-size:22px; font-family: 'Architects Daughter', cursive; margin-bottom:20px}
.about p{ margin-bottom:20px}
.about_c,.about{margin:20px 0}
.about ul{ width:710px}
.about_c{ padding:10px 0 0 10px; color:#999; line-height:26px; }
.about_c img{ margin:5px 0}
.about_c span{ color:#19A566}